// Core variables and mixins
@import "components/animate";
@import "components/bootstrap/bootstrap";
@import "components/main";
@import "components/elements";


.btn--back {
	font-size: 10px!important;
	padding-left: 12px;
	padding-right: 12px;
	border: 3px solid #c4c4c5;
}
