
@font-face {
  font-family: 'Montserrat Regular';
  src: url('fonts/Montserrat-Regular.otf'); /* IE9 Compat Modes */
}

$color-base: #000 !default;

body {
	font-family: 'Montserrat Regular', sans-serif;
	color: $color-base;
}
.wrapper {
	padding-top: 60px;
	padding-bottom: 60px;
}
.hover--underline {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid transparent;
    width: 100px;
}


.btn-custom {
	text-transform: uppercase;
	// font-family: 'Montserrat Light';
	font-family: 'Montserrat Regular', sans-serif;
	font-size: 15px;
	color: $color-base;
	letter-spacing: 2px;
	border-radius: 0;
	border: 3px solid #000;
	background: #fff;
	position: relative;
	opacity: 1;
	transition: all 0.3s ease-out;
	&:hover, &:active, &:focus {
		opacity: 0.6;
		transition: all 0.3s ease-out;
	}
	&:before {
		content: "";
	    position: absolute;
	    width: 80%;
	    height: 4px;
	    background: white;
	    z-index: 99;
	    top: -4px;
	    left: 10%;
	}
	&:after {
		content: "";
	    position: absolute;
	    width: 80%;
	    height: 4px;
	    background: white;
	    z-index: 99;
	    bottom: -4px;
        left: 10%;
	}
}
.btn-onas {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 999;
}

.btn-home {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 999;
}

.hero-wrap_btn {
	position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -18px;
}


.wrap {
	height: 100vh;
	// padding-top: 30px;
	// padding-bottom: 30px;
}
.hero-box {
	height: 100vh;
	display: table;
	width: 100%;
}
.hero-text {
	display: table-cell;
	vertical-align: middle;
	height: inherit;
	font-size: 30px;
	text-align: center;
	h1 {
		font-size: 60px;
	}
	p {
		font-size: 16px;
		font-weight: normal;
	}
	ul {
		 text-align: justify;
    	text-justify: inter-word;
    	list-style-type:decimal;
	}
}
.hover--underline {
	transition: all 0.3s ease-out;
}
.hero-link {
	&:hover, &:active, &:focus {
		text-decoration: none;
		.hover--underline {
			margin-top: 0px;
		    margin-bottom: 20px;
		    border: 0;
		    border-top: 3px solid #000;
		    width: 100px;
		    transition: all 0.3s ease-out;
		}
	}
}
.women {
	width: 50%;
	float: left;
	p {
		color: $color-base;
		font-size: 16px;
		margin-top: 15px;
		text-transform: uppercase;
	}
}

.men {
	width: 50%;
	float: right;
	p {
		color: $color-base;
		font-size: 16px;
		margin-top: 15px;
		text-transform: uppercase;
	}
}

.option--wrap {
	display: table;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;
}
.option--box {
	width: 25%;
	display: table-cell;
	padding: 10px;
	height: 250px;
	vertical-align: middle;
	transition: all 0.3s ease-out;
	&:hover, &:active, &:focus {
		transition: all 0.3s ease-out;
		text-decoration: none;
		 -webkit-box-shadow: 0px 0px 2px 0px #4d4d4d;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		  -moz-box-shadow:    0px 0px 2px 0px #4d4d4d;  /* Firefox 3.5 - 3.6 */
		  box-shadow:         0px 0px 2px 0px #4d4d4d;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
	 @media only screen and (max-width : 980px) {
		display: block;
		width: 250px;
		height: 200px;
		margin-bottom: 15px;
	 }
	p {
		color: $color-base;
		font-size: 16px;
		margin-top: 15px;
	}
}
.text-box {
	min-height: 90px;
}

.text-margin {
	margin-bottom: 60px;
}

.wrap-btn {
	padding-top: 60px;
	padding-bottom: 60px;
	.btn-custom {
		 @media only screen and (max-width : 980px) {
			margin-top: 30px;
		 }
	}
}
.small-print p, ul, li{
	font-size: 11px;
}
.small-print {
	margin-top: 30px;
}
//page o nas
.wrap-onas {
	padding-top: 30px;
}
.members {
	text-align: center !important;
	list-style-type: none !important;
	li {
		font-size: 16px !important;
	}
}

@media only screen and (max-width : 980px) {
	section .hero-text {
		padding: 60px 0px;
	}
}



@media only screen and (max-width :420px) {
	.hero-text {
		font-size: 18px;
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 22px;
		}
		.btn-custom {
			font-size: 12px;
		}
	}
}

